body {
  background-color: #05c46b;
  font-family: Verdana;
  text-align: center;
}
.heading {
  font-family: "Courier New", Courier, monospace;
}
.main {
  list-style-type: none;
  margin: 2rem;
}

.option.rec {
  list-style-type: none;
}

.option-choice {
  list-style-type: none;
}

.frame-content {
  list-style-type: none;
}
